.rocket-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  background-color: #6c757d;
  overflow: hidden;
}

.rocket-card {
  width: 240px;
  height: 450px;
}

.rocket-image {
  height: 300px;
}

.active-status {
  display: flex;
  align-items: center;
}

.active-status span {
  margin-left: 2%;
}

@media (max-width: 900px) {
  .rocket-list {
    flex-direction: column;
  }

  .rocket-card {
    margin-top: 8% !important;
  }
}
